pre.sourceCode{
    border: 1px solid #111111;
    padding: 1em;
}
pre {
    background: lightgray;
    padding: 1em;
}
body{
  font-optical-sizing: auto;
  font-weight: 300;
}
.listing-date{
    display: block;
    width: 100px !important;
}
.page-item .page-link {
    border-radius: 5px;
}
.utterances {
    background: #f6f8fa;
    border-radius: 7px;
}
.quarto-title-meta {
    display: none !important;
}
.quarto-title-banner {
    padding-bottom: 0 !important;
}